<!DOCTYPE html>
<html>

    <head>
        <title></title>
    </head>

    <body>
        <table>
            <th> 
            <td>Date</td>
            <td>Author</td>
            </th>
            <!--ROW-->
            <tr>
                <td>cell for date </td>
                <td>cell for author</td>
            </tr>
            <!--row-->
            <!--ROW-->
            <tr>
                <td>cell for date</td>
                <td>cell for author</td>
            </tr>
            <!--row-->
            <!--ROW-->
            <tr>
                <td>cell for date</td>
                <td>cell for author</td>
            </tr>
            <!--row-->
        </table>
    </body>

</html>